@layer components {
  .text-headline {
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 2.5rem;
  }

  .smiley-background {
    fill: var(--color-background);
  }
  .smiley-face {
    fill: var(--color-text);
  }

  /* Lazyloading images */
  .lazyload,
  .lazyloading {
    @apply pointer-events-none;
    @apply transition-opacity;
    @apply opacity-0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.75s ease-out;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 0.75s ease-out;
  }

  /* Pill Styles */
  .pill {
    --color-pill: var(--color-highlight);
    --color-pill-hover: var(--color-pill);
    line-height: 1;
    font-weight: 400;
    border-radius: 1.5em;
    display: inline-block;
    text-decoration: none;
    corner-shape: squircle;
    transform-origin: center;
    text-transform: lowercase;
    font-size: var(--step--2);
    padding: var(--spacing-3xs);
    text-box: trim-both cap alphabetic;
    box-shadow: 0 0 0 0.1rem var(--color-gray);
    background-color: var(--color-pill-background);
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:hover,
    &:focus-visible {
      transform: scale(1.02);
      background-color: var(--color-pill-hover);
    }

    &:active {
      transform: scale(0.97);
      box-shadow: 0 0 0 0.2rem var(--color-gray);
    }

    &:not(.contrast-color) {
      --color-pill-background: var(--color-gray);
      color: var(--color-text);

      &:hover,
      &:focus-visible {
        color: var(--color-background);
      }
    }

    &.contrast-color {
      --color-pill-background: color-mix(
        in hsl,
        var(--color-pill),
        transparent 25%
      );
      --contrast-color: var(--color-pill);
    }

    &.pill--lg {
      font-size: var(--step-0);
      padding: var(--spacing-2xs);
    }
  }

  /* Link Styles */
  .basic-link {
    --basic-link-primary: var(--color-highlight);
    --basic-link-secondary: var(--color-highlight-hover);
    text-decoration: none;
    background-color: transparent;
    background-image: linear-gradient(to bottom, var(--basic-link-secondary), var(--basic-link-secondary)), linear-gradient(to bottom, var(--basic-link-primary), var(--basic-link-primary));
    background-repeat: no-repeat;
    background-size: 100% 35%, 100% 8%;
    background-position: bottom;
    transition: background-size 0.05s ease-out;

    &:hover,
    &:focus-visible,
    &[aria-current="page"]  {
      text-decoration-color: var(--basic-link-primary);
      background-size: 100% 100%, 100% 8%;
    }
  }
  .contrast-color .basic-link {
    --basic-link-primary: currentColor!important;
  }

  /* Article Styles */
  article {
    padding-block: var(--spacing-s);

    &:not(.-first) {
      border-top: var(--color-border) 1px solid;
    }

    > * + * {
      margin-block-start: var(--spacing-3xs);
    }
  }
  .article-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    * {
      line-height: 1;
    }
  }

  /* Custom Emoji */
  .custom-emoji {
    width: auto;
    height: 1.2em;
    margin-block: 0;
    margin-inline: 0;
    display: inline-block;
    vertical-align: middle;
  }

  /* Prose */
  .container--text {
    padding-inline-start: var(--spacing-xs);

    > * {
      max-width: 65ch;

      + * {
        margin-block-start: 1.5em;
      }
    }
  }

  .page-intro {
    display: grid;
    gap: var(--spacing-xl);

    > div {
      padding-inline: var(--spacing-xs);
    }

    > div > * + * {
      margin-block-start: 1em;
    }

    div:first-child {
      p {
        font-size: var(--step-2);
      }
    }

    div:last-child {
      p {
        font-size: var(--step-0);
      }
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

/* Testimonials */
.testimonial {
  margin: 0;

  p {
    position: relative;
    border-radius: 2.5rem;
    corner-shape: squircle;
    color: var(--color-highlight);
    padding: var(--spacing-l) var(--spacing-xs) var(--spacing-m);
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: 2.5rem;
      pointer-events: none;
      corner-shape: squircle;
      inset: 0 calc(var(--spacing-xs) * -1);
      border: 1px solid var(--color-highlight);
      background-color: var(--color-background);
    }
  }

  .noisy-border {
    --noisy-border-inset: calc(var(--spacing-xs) * -0.5) calc(var(--spacing-xs) * -1.5);
    --noisy-border-filter: contrast(350%) brightness(110%) saturate(60%);
  }

  cite {
    display: block;
    margin-block-start: var(--spacing-s);
    padding-inline-start: var(--spacing-xs);
  }
}

/* Noisy border */
.noisy-border {
  position: var(--noisy-border-position, relative);

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 2.5rem;
    corner-shape: squircle;
    filter: var(--noisy-border-filter);
    opacity: var(--noisy-border-opacity);
    inset: var(--noisy-border-inset, -0.5rem);
    background: var(--noisy-border-background);
    mix-blend-mode: var(--noisy-border-blend-mode);
    color: var(--noisy-border-color, var(--color-highlight))
  }
}

/* Tippy Styles */
.tippy-box[data-theme~='site'] {
  text-align: center;
  border-radius: 2em;
  corner-shape: squircle;
  max-width: max-content;
  padding: var(--spacing-2xs) 0;
  color: var(--color-background);
  background-color: var(--color-highlight);

  p {
    line-height: 1;
    font-size: var(--step--1);
  }
}
.ms2026 .tippy-arrow {
  color: var(--color-highlight);
}
