@layer components {
  .text-headline {
    font-family: var(--font-display);
    font-weight: 700;
    font-size: 2.5rem;
  }

  .smiley-background {
    fill: var(--color-background);
  }
  .smiley-face {
    fill: var(--color-text);
  }

  .prose-container {
    max-width: 72ch;
  }

  /* Lazyloading images */
  .lazyload,
  .lazyloading {
    @apply pointer-events-none;
    @apply transition-opacity;
    @apply opacity-0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.75s ease-out;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 0.75s ease-out;
  }

  /* Pill Styles */
  .pill {
    --color-pill: var(--color-highlight);
    --color-pill-hover: var(--color-pill);
    line-height: 1;
    font-weight: 400;
    border-radius: 1.5em;
    display: inline-block;
    text-decoration: none;
    corner-shape: squircle;
    transform-origin: center;
    text-transform: lowercase;
    font-size: var(--step--2);
    padding: var(--spacing-3xs);
    text-box: trim-both cap alphabetic;
    box-shadow: 0 0 0 0.1rem var(--color-gray);
    background-color: var(--color-pill-background);
    transition: background-color 0.2s ease-out, color 0.2s ease-out;

    &:hover,
    &:focus-visible {
      transform: scale(1.02);
      background-color: var(--color-pill-hover);
    }

    &:active {
      transform: scale(0.97);
      box-shadow: 0 0 0 0.2rem var(--color-gray);
    }

    &:not(.contrast-color) {
      --color-pill-background: var(--color-gray);
      color: var(--color-text);

      &:hover,
      &:focus-visible {
        color: var(--color-background);
      }
    }

    &.contrast-color {
      --color-pill-background: color-mix(
        in hsl,
        var(--color-pill),
        transparent 25%
      );
      --color: var(--color-pill);
    }

    &.pill--lg {
      font-size: var(--step-0);
      padding: var(--spacing-2xs);
    }
  }

  /* Link Styles */
  .basic-link {
    background-color: transparent;

    &:hover,
    &:focus-visible,
    &[aria-current="page"]  {
      font-style: italic;
      text-decoration-color: var(--color-highlight);
      background-color: var(--color-highlight-hover);
    }
  }

  /* Article Styles */
  article {
    padding-block: var(--spacing-s);

    &:not(.-first) {
      border-top: var(--color-border) 1px solid;
    }

    > * + * {
      margin-block-start: var(--spacing-3xs);
    }
  }
  .article-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    * {
      line-height: 1;
    }
  }

}

/* Noisy border */
.noisy-border {
  --noisy-border-position: relative;
  --noisy-border-inset: -0.5em;
  position: var(--noisy-border-position);

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 2em;
    corner-shape: squircle;
    inset: var(--noisy-border-inset);
    filter: var(--border-noise-filter);
    opacity: var(--border-noise-opacity);
    background: var(--border-noise-background);
    mix-blend-mode: var(--border-noise-blend-mode);
  }
}

/* Tippy Styles */
.tippy-box[data-theme~='site'] {
  text-align: center;
  border-radius: 1em;
  max-width: max-content;
  padding: var(--spacing-3xs);
  color: var(--color-background);
  background-color: var(--color-highlight);

  p {
    line-height: 1;
    font-size: var(--step--1);
  }
}
.ms2026 .tippy-arrow {
  color: var(--color-highlight);
}
