@layer reset, theme, base, components, utilities;

@import './theme.css';
@import './reset.css';
@import './utilities.css';
@import './typography';
@import './components.css';
@import './rich-text.css';
@import './skip-link.css';

@layer base {
  @view-transition {
    navigation: auto;
  }

  body {
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    position: relative;
    color: var(--color-text);
    font-family: var(--font-body);
    font-weight: var(--font-weight-light);
    hanging-punctuation: first allow-end;
    background-color: var(--color-background);
  }

  ::selection {
    color: var(--color-background);
    background-color: var(--color-highlight);
  }

  figure {
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  a {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.1rem;
  }

  *:focus-visible {
    outline-offset: 0.15em;
    corner-shape: squircle;
  }

  p {
    font-weight: var(--font-weight-light);
    font-family: var(--font-body);
  }

  strong {
    font-weight: var(--font-weight-regular);
  }

  /* Remove animations and transitions for people who prefer not to see them */
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    *,
    *::before,
    *::after {
      background-attachment: initial !important;
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }
}
