@layer reset, theme, base, components, utilities;

@import './theme.css';
@import './reset.css';
@import './utilities.css';
@import './typography';
@import './components.css';
@import './rich-text.css';

@layer base {
  @view-transition {
    navigation: auto;
  }

  body {
    margin: 0;
    font-size: 16px;
    color: var(--color-text);
    font-family: var(--font-body);
    padding-inline: var(--spacing-l);
    hanging-punctuation: first allow-end;
    background-color: var(--color-background);
    padding-block: var(--spacing-3xl) var(--spacing-l);
  }

  ::selection {
    background-color: var(--color-gray);
  }

  figure {
    overflow: hidden;
    border-radius: var(--border-radius);
  }

  ul,
  ol {
    padding: 0.75em;
  }

  a {
    color: inherit;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.1rem;
  }

  *:focus-visible {
    outline-offset: 0.35em;
    corner-shape: squircle;
  }
}

/* Tippy Styles */
.tippy-box[data-theme~='site'] {
  text-align: center;
  border-radius: 1em;
  max-width: max-content;
  padding: var(--spacing-3xs);
  background-color: var(--color-text);
  color: var(--color-background);
  
  p {
    line-height: 1;
    font-size: var(--step--1);
  }
}
.ms2026 .tippy-arrow {
  color: var(--color-text);
}
