@layer reset {
  /* Mildly modified from Andy Bell */
  /* https://piccalil.li/blog/a-more-modern-css-reset/ */

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    box-sizing: border-box;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block: 0;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.25;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Paragraph styles */
  p {
    margin-block: 0;
    text-wrap: pretty;
  }
  *:not[class*="text-"] p,
  p:not([class*="text-"]) {
    font-size: var(--step-0);
  }

  td, th, li {
    font-size: var(--step-0);
  }

  td, th {
    text-align: left;
    text-wrap: pretty;
    vertical-align: top;
  }

  /* Remove list styles */
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  figure {
    margin-inline: 0;
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

  /* Remove animations and transitions for people who prefer not to see them */
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
      background-attachment: initial !important;
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }
}
