@layer components {
  .skip-link {
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    border: 3px solid;
    padding: 1em 1.5em;
    font-family: inherit;
    text-decoration: none;
    corner-shape: squircle;
    color: var(--color-text);
    border-radius: var(--radius);
    background-color: var(--color-background);

    &:not(:focus) {
      position: absolute;
      width: 1px;
      height: auto;
      margin: 0;
      padding: 0;
      overflow: hidden;
      white-space: nowrap;
      clip: rect(0 0 0 0);
      border: 0;
    }

    &:focus {
      z-index: 10000;
      position: absolute;
      top: var(--spacing-3xs);
      left: var(--spacing-3xs);
    }

    &:focus:not(:hover) {
      outline: 1px dotted;
      outline-offset: -0.5em;
    }
  }
}
