/* Theme Variables */
@layer theme {
  :root {
    /* Misc */
    --radius: 2rem;
    --radius-sm: 3px;
    --prose-max-width: 72ch;

    /* Fonts */
    --font-body: 'VCTR Mono', monospace;
    --font-display: 'Walkout', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-black: 900;

    /* Type Sizes */
    /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

    /* Spacing */
    /* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --spacing-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --spacing-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
    --spacing-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
    --spacing-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --spacing-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
    --spacing-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
    --spacing-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
    --spacing-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
    --spacing-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);
    --spacing-4xl: clamp(9rem, 8.591rem + 1.8182vw, 10rem);

    /* One-up pairs */
    --spacing-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    --spacing-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
    --spacing-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
    --spacing-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
    --spacing-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
    --spacing-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
    --spacing-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
    --spacing-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

    /* Custom pairs */
    --spacing-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);

    /* Custom spacing */
    --site-gutter: var(--spacing-m-l);

    /* Responsive */
    --breakpoint-min: 20rem; /* 320px */
    --breakpoint-xs: 38rem; /* 608px */
    --breakpoint-sm: 40rem; /* 640px */
    --breakpoint-md: 48rem; /* 768px */
    --breakpoint-nav: 50rem; /* 800px */
    --breakpoint-ml: 75rem; /* 1200px */
    --breakpoint-lg: 90rem; /* 1440px */
    --breakpoint-max: 120rem; /* 1920px */
    /* Container query breakpoints */
    --container-min: 20rem; /* 320px */
    --container-xs: 38rem; /* 608px */
    --container-sm: 40rem; /* 640px */
    --container-nav: 48rem; /* 640px */
    --container-md: 48rem; /* 768px */
    --container-ml: 75rem; /* 1200px */
    --container-lg: 90rem; /* 1440px */
    --container-max: 120rem; /* 1920px */

    /* Easing functions */
    --ease-out-quartic: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  :root {
    --color-parts-light: 0.9633 0.0176 81.33;
    --color-light: oklch(var(--color-parts-light) / 1);
    --color-dark: oklch(0.2075 0.0086 81.33 / 1);

    --color-parts-text: 0.1577 0.0176 81.33;
    --color-text: oklch(var(--color-parts-text) / 1);
    --color-parts-background: 0.9633 0.0176 81.33;
    --color-background: oklch(var(--color-parts-background) / 1);
    --color-parts-highlight: 0.5568 0.0743 143.31;
    --color-highlight: oklch(var(--color-parts-highlight) / 1); /* #597f57 */
    --color-highlight-hover: oklch(var(--color-parts-highlight) / 20%);
    --color-gray: oklch(0.2075 0.0086 81.33 / 8%);
    --color-border: var(--color-gray);
    --color-gradient-parts: 0.5 0.03 143.31;
    --noisy-border-opacity: 1;
    --noisy-border-blend-mode: darken;
    --noisy-border-filter: contrast(500%) brightness(130%) saturate(27%);
    --noisy-border-background: linear-gradient(
        0deg,
        oklch(var(--color-parts-background) / 0) 70%,
        oklch(var(--color-parts-background) / 0.7)
      ),
      linear-gradient(
        0deg,
        oklch(from currentColor l c h / 0.6) 70%,
        oklch(from currentColor l c h / 0)
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

    &[data-color-mode='light'] {
      color-scheme: light;
    }
    &[data-color-mode='dark'] {
      color-scheme: dark;
      --color-parts-text: 0.9633 0.0176 81.33;
      --color-text: oklch(var(--color-parts-text) / 1);
      --color-parts-background: 0.2075 0.0086 81.33;
      --color-background: oklch(var(--color-parts-background) / 1);
      --color-parts-highlight: 0.5568 0.0743 143.31;
      --color-highlight: oklch(var(--color-parts-highlight) / 1);
      --color-highlight-hover: oklch(var(--color-parts-highlight) / 50%);
      --color-gray: oklch(0.9633 0.0176 81.33 / 6%);
      --color-border: oklch(var(--color-parts-text) / 0.6);
      --color-gradient-parts: 0.5 0.03 143.31;
      --noisy-border-opacity: 0.8;
      --noisy-border-blend-mode: screen;
      --noisy-border-filter: contrast(530%) brightness(100%) saturate(50%);
      --noisy-border-background: linear-gradient(
          0deg,
          oklch(var(--color-parts-background) / 0) 70%,
          oklch(var(--color-parts-background) / 0.7)
        ),
        linear-gradient(
          0deg,
          oklch(from currentColor l c h / 0.6) 70%,
          oklch(from currentColor l c h / 0)
        ),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  }
}
