/* Type Styles */

.text-h1 {
  margin-block: 0;
  font-weight: 400;
  font-size: var(--step-3);
  font-family: var(--font-display);
}

.text-h2 {
  margin-block: 0;
  font-weight: 400;
  font-size: var(--step-1);
  font-family: var(--font-display);
}

.text-h3 {
  font-weight: 400;
  font-size: var(--step-2);
  font-family: var(--font-body);
}

.text-h4 {
  font-weight: 400;
  font-size: var(--step-1);
  font-family: var(--font-body);
}

.text-meta {
  line-height: 1;
  font-size: var(--step--1);
}

.text-label {
  line-height: 1;
  text-box-trim: trim-end;
  font-size: var(--step--2);
}
