@layer utilities {
  /* Visually Hidden */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
    clip-path: inset(50%);
    white-space: nowrap;
  }

  /* Thanks to Lea Verou for this utility */
  /* https://lea.verou.me/blog/2024/contrast-color/ */
  .contrast-color {
    /* Fallback for browsers that don't support RCS */
    color: white;
    text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black,
      0 0 0.05em black;

    @supports (color: oklch(from red l c h)) {
      --l: clamp(0, (l / var(--l-threshold, 0.623) - 1) * -infinity, 1);
      color: oklch(from var(--contrast-color) var(--l) 0 h);
      text-shadow: none;
    }

    @supports (color: contrast-color(red)) {
      color: contrast-color(var(--contrast-color));
      text-shadow: none;
    }
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .text-pretty {
    text-wrap: pretty;
  }
  .text-balance {
    text-wrap: balance;
  }

  .italic {
    font-style: italic;
  }

  /* Sizing Utilities */
  .prose-container {
    max-width: 65ch;
  }

  .w-max {
    max-width: 100%;
    width: max-content;
  }

  .w-prose {
    max-width: 65ch;
  }

  /* Grid Utilities */
  .grid {
    display: grid;
  }
  .grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .grid-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .col-span-full {
    grid-column: 1 / -1;
  }

  /* Spacing Utilities */
  .px-site-gutter {
    padding-inline: var(--site-gutter);
  }
  .pl-xs {
    padding-left: var(--spacing-xs);
  }
  .mt-l {
    margin-block-start: var(--spacing-l);
  }
  .mt-xl {
    margin-block-start: var(--spacing-xl);
  }
  .mx-auto {
    margin-inline: auto;
  }
}
