---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="px-site-gutter">
		<section class="prose-container">
			<p>Hello! Happy to see you here. I'm currently in the process of rebuilding my site. In the meantime you can take a look at versions from the past:</p>
			<ul role="list">
				<li><a href="https://2020.mattsoria.com" class="basic-link">2020-2025</a></li>
				<li><a href="https://2016.mattsoria.com" class="basic-link">2016-2020</a></li>
			</ul>
			<p>If you need to get in touch, <a href="mailto:matt.soria@hey.com">email me</a>.</p>
			<p>Take care,<br> Matt.</p>
		</section>
	</div>
</Layout>

<style scoped>
	section {
		margin: auto;
		position: relative;
		border-radius: 2em;
		corner-shape: squircle;
		color: var(--color-light);
		padding: var(--spacing-s);
		background-color: var(--color-highlight);
		&::before {
			z-index: -1;
			content: '';
			inset: -0.5em;
			position: absolute;
			border-radius: 2em;
			corner-shape: squircle;
			filter: var(--border-noise-filter);
			opacity: var(--border-noise-opacity);
			background: var(--border-noise-background);
			mix-blend-mode: var(--border-noise-blend-mode);
		}

		* {
			line-height: 1.2;
			font-weight: 400;
			font-size: var(--step-1);
		}

		* + * {
			margin-block-start: var(--spacing-s);
		}
	}
</style>