---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="container">
		<p>Hey! Happy to see you here. I'm currently in the process of rebuilding my site. In the meantime you can take a look at versions from the past:</p>
		<ul role="list">
			<li><a href="https://2020.mattsoria.com">2020-2025</a></li>
			<li><a href="https://2016.mattsoria.com">2016-2020</a></li>
		</ul>

		<p>If you need to get in touch, <a href="mailto:matt.soria@hey.com">email me</a>.</p>
		<p>Take care,<br> Matt.</p>

		<p>Recent dev projects:</p>
		<ul role="list">
			<li><a href="https://www.s2ginvestments.com/">S2G Investments: Lead Developer</a></li>
			<li><a href="https://egenesisbio.com/">eGenesis: Lead Developer</a></li>
			<li><a href="https://quotient-tx.com/">Quotient TX: Lead Developer</a></li>
			<li><a href="https://lilacsolutions.com/">Lilac Solutions: Lead Developer</a></li>
			<li><a href="https://www.spheresemi.com/">Sphere Semi: Lead Developer</a></li>
			<li><a href="https://lubeznikcenter.org/">Lubeznik Center for the Arts: Lead Developer</a></li>
			<li><a href="https://designingabetterchicago.org/">Designing a Better Chicago: Lead Developer</a></li>
			<li><a href="https://mam.org/">Museum of Architecture and Design: Developer, Project Lead</a></li>
			<li><a href="https://scaaic.org/">Society for Contemporary Art: Lead Developer</a></li>
			<li><a href="https://www.peopleforcommunityrecovery.org/">People for Community Recovery: Lead Developer</a></li>
			<li><a href="https://www.buildersinitiative.org/">Builders Initiative: Lead Developer</a></li>
			<li><a href="https://www.buildersvision.com/">Builders Vision: Lead Developer</a></li>
			<li><a href="https://www.buildersassetmanagement.com/">Builders Asset Management: Lead Developer</a></li>
			<li><a href="https://2020.firebelly.co/">Firebelly 2020: Lead Developer</a></li>
		</ul>
	</div>
</Layout>

<style>

</style>