---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Matt Soria | photography + web development" bodyClass="">
	<div class="px-site-gutter">
		<div class="prose-container site-intro noisy-border">
			<p>Hello!:wave: Happy to see you here. I'm in the process of rebuilding my site, so things might be a little funky around here. In the meantime you can take a look at versions from the past:</p>
			<ul role="list">
				<li><a href="https://2020.mattsoria.com" class="basic-link">2020-2025</a></li>
				<li><a href="https://2016.mattsoria.com" class="basic-link">2016-2020</a></li>
			</ul>
			<p>If you need to get in touch, <a href="mailto:matt.soria@hey.com" class="basic-link">email me</a>.:horns:</p>
			<p>Take care,<br> matt</p>
		</div>
	</div>
</Layout>

<style scoped>
	.site-intro {
		position: relative;
		border-radius: 2em;
		margin-inline: auto;
		corner-shape: squircle;
		color: var(--color-light);
		padding: var(--spacing-s);
		margin-block-start: var(--spacing-xl);
		background-color: var(--color-highlight);

		* {
			line-height: 1.2;
			font-weight: 400;
			text-wrap: pretty;
			font-size: var(--step-1);
		}

		a {
			--basic-link-primary: var(--color-light);
			--basic-link-secondary: oklch(var(--color-parts-light) / 20%);
		}

		> * + * {
			margin-block-start: var(--spacing-s);
		}
	}
</style>