---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<p>Hey! Happy to see you here. I'm currently in the process of rebuilding my site. In the meantime you can take a look at versions from the past:</p>
		<ul role="list">
			<li><a href="https://2020.mattsoria.com">2020-2025</a></li>
			<li><a href="https://2016.mattsoria.com">2016-2020</a></li>
		</ul>

		<p>If you need to get in touch, <a href="mailto:matt.soria@hey.com">email me</a>.</p>
		<p>Take care,<br> Matt.</p>

		<p>Recent dev projects:</p>
		<table>
			<thead>
				<tr>
					<th>Project</th>
					<th>Role</th>
					<th>Tech</th>
					<th>Highlights</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="https://www.s2ginvestments.com/" target="_blank">S2G Investments</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, Getro, FormAssembly, GSAP, Sprig</td>
					<td><a href="https://share.mattsoria.com/S2G-Investments_Moprhing-Hero" target="_blank">Morphing hero</a>, <a href="https://share.mattsoria.com/S2G-Investmenst_Line-Drawing" target="_blank">Line drawing on Scroll</a>, <a href="https://share.mattsoria.com/S2G-Investments_Avanced-Search-Filtering" target="_blank">Advanced search + filtering</a></td>
				</tr>
				<tr>
					<td><a href="https://egenesisbio.com/" target="_blank">eGenesis</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, GSAP</td>
					<td><a href="https://share.mattsoria.com/eGenesis_Subtle-Graphic-Fade" target="_blank">Subtle Graphic Fade</a></td>
				</tr>
				<tr>
					<td><a href="https://expeditionmedicines.com/" target="_blank">Expedition Medicines</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, GSAP</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://quotient-tx.com/" target="_blank">Quotient TX</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, Greenhouse, GSAP, Lottie</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://lilacsolutions.com/" target="_blank">Lilac Solutions</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, Weglot, Hubspot, GSAP</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://www.spheresemi.com/" target="_blank">Sphere Semi</a></td>
					<td>Lead Developer</td>
					<td>HTML/CSS/JavaScript✨, Spline, </td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://lubeznikcenter.org/" target="_blank">Lubeznik Center for the Arts</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, GSAP, Swup</td>
					<td><a href="https://share.mattsoria.com/Lubeznik_Fun-Hover-Squiggles" target="_blank">Fun hover squiggles</a>, <a href="https://share.mattsoria.com/Lubeznik_Page-Transitions" target="_blank">Page transitions</a>, <a href="https://share.mattsoria.com/Lubeznik_Varialbe-Logo" target="_blank">Variable Logo</a>, <a href="https://share.mattsoria.com/Lubeznik_Lost-Lubuddy" target="_blank">Lost Lubuddy</a></td>
				</tr>
				<tr>
					<td><a href="https://designingabetterchicago.org/" target="_blank">Designing a Better Chicago</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://mam.org/" target="_blank">Museum of Architecture and Design</a></td>
					<td>Developer, Project Lead</td>
					<td>Eleventy, GSAP</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://scaaic.org/" target="_blank">Society for Contemporary Art</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS, Craft Commerce, Stripe, Sprig, p5.js</td>
					<td><a href="https://share.mattsoria.com/SCA_p5-Interactive-Lines" target="_blank">p5 interactive lines</a>, <a href="https://scaaic.org/membership/join?plan=fd359de9-19f7-4aa6-b824-d3f6b3feafc3" target="_blank">Multi-step membership form integrated with Stripe subscriptions + user accounts</a></td>
				</tr>
				<tr>
					<td><a href="https://www.peopleforcommunityrecovery.org/" target="_blank">People for Community Recovery</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://www.buildersinitiative.org/" target="_blank">Builders Initiative</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://www.buildersvision.com/" target="_blank">Builders Vision</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://www.buildersassetmanagement.com/" target="_blank">Builders Asset Management</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS</td>
					<td></td>
				</tr>
				<tr>
					<td><a href="https://2020.firebelly.co/" target="_blank">Firebelly 2020</a></td>
					<td>Lead Developer</td>
					<td>Craft CMS</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</Layout>

<style>

</style>