---
import Layout from '../layouts/Layout.astro';
import { getEntries } from '../components/EntriesFetch.astro';
import PostArticle from '../components/PostArticle.astro';
import LinkArticle from '../components/LinkArticle.astro';

let postQuery = `{
  entries(site: "personal", section: "personalJournal", type: "journal_default") {
    id
    title
    slug
    postDate
    ... on journal_default_Entry {
      category(status: ["live"]) {
        title
        status
        slug
      }
    }
  }
}`;
const posts = await getEntries(postQuery);

let linksQuery = `{
  entries(site: "personal", section: "personalJournal", type:"journal_external") {
    id
    title
    slug
    postDate
    ... on journal_external_Entry {
      externalLink
      sourceAuthor
      note
      category(status: ["live"]) {
        title
        status
        slug
      }
    }
  }
}`;
const links = await getEntries(linksQuery);
---

<Layout>
  <div class="layout">
    <div class="post-column">
      <div class="title">
        <h1 class="visually-hidden">Journal</h1>
        <h2>Writing</h2>
      </div>

      <ol class="posts-list" role="list">
        { posts.map((post) =>
          <li>
            <PostArticle post={post} />
          </li>
        )}
      </ol>
    </div>
  
    <aside class="links-column">
      <div class="title">
        <h2>Reading</h2>
      </div>

      <ol class="links-list" role="list">
        { links.map((post) =>
          <li>
            <LinkArticle post={post} />
          </li>
        )}
      </ol>
    </aside>
  </div>
</Layout>

<style scoped>
	.title {
    display: flex;
    align-items: flex-end;
    height: var(--step-3);
    margin-block: 0 var(--space-l);
    h1, h2 {
      margin: 0;
      line-height: 1;
      text-box-trim: trim-both;
    }
  }

  .layout {
    display: grid;
    gap: var(--space-m);
    grid-template-areas: 
      "main"
      "aside";

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 
        "main main aside";
    }
  }
  .post-column {
    grid-area: main;
  }
  .links-column {
    grid-area: aside;
  }

  .posts-list,
  .links-list {
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    row-gap: var(--space-s);
  }
</style>