---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Photography">
  <section class="section px-site-gutter">
    <div class="card noisy-border prose-container">
      <h1 class="text-headline">Photography</h1>
      <p>I'm in the process of rebuilding my photography portfolio. In the meantime, you can see <a href="https://2020.mattsoria.com" class="basic-link">my old portfolio</a>, or check out my rarely updated <a href="https://www.instagram.com/itsmattsoria" class="basic-link" target="_blank">Instagram</a>.</p>
    </div>
  </section>
</Layout>

<style scoped>
  .section {
    min-height: 40vh;
  }
</style>