---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="px-site-gutter">
    <h2 class="text-h3">Featured Work</h2>
    <ul role="list">
      <li class="noisy-border contrast-color" style="--card-color: #CCD8CC; --noisy-border-filter: contrast(85%) brightness(120%) saturate(200%);">
        <div>
          <h3 class="text-h3 text-balance"><a href="https://www.s2ginvestments.com/" target="_blank" class="basic-link">S2G Investments</a></h3>
          <div class="text-meta italic">2024-2025</div>
        </div>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Getro, FormAssembly, GSAP, Sprig</div>
        <div class="prose-container"><strong>Highlights:</strong> <a href="https://share.mattsoria.com/S2G-Investments_Moprhing-Hero" target="_blank" class="basic-link">Morphing hero</a>, <a href="https://share.mattsoria.com/S2G-Investmenst_Line-Drawing" target="_blank" class="basic-link">Line drawing on Scroll</a>, <a href="https://share.mattsoria.com/S2G-Investments_Avanced-Search-Filtering" target="_blank" class="basic-link">Advanced search + filtering</a></div>
        </div>
      </li>
      <li class="noisy-border contrast-color" style="--card-color: #6085ff;">
        <div>
          <h3 class="text-h3 text-balance"><a href="https://egenesisbio.com/" target="_blank" class="basic-link">eGenesis</a></h3>
          <div class="text-meta italic">2025-2026</div>
        </div>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, GSAP</div>
        <div class="prose-container"><strong>Highlights:</strong> <a href="https://share.mattsoria.com/eGenesis_Subtle-Graphic-Fade" target="_blank" class="basic-link">Subtle Graphic Fade</a></div>
        </div>
      </li>
      <li class="noisy-border contrast-color" style="--card-color: #b2592a; --noisy-border-filter: contrast(85%) brightness(120%) saturate(200%);">
        <div>
          <h3 class="text-h3 text-balance"><a href="https://expeditionmedicines.com/" target="_blank" class="basic-link">Expedition Medicines</a></h3>
          <div class="text-meta italic">2025</div>
        </div>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Greenhouse, GSAP, Canvas</div>
        <div class="prose-container"><strong>Highlights:</strong> <a href="https://share.mattsoria.com/Expedition-Medicines_Interactve-Canvas-Grid" target="_blank" class="basic-link">Interactive canvas grid</a>, <a href="https://share.mattsoria.com/Expedition-Medicines_Interactive-Hero" target="_blank" class="basic-link">Interactive hero</a>, <a href="https://share.mattsoria.com/Expedition-Medicines_Parallax-Graphic" target="_blank" class="basic-link">Parallax graphic</a></div>
        </div>
      </li>
      <li class="noisy-border contrast-color" style="--card-color: #33c592;">
        <h3 class="text-h3 text-balance"><a href="https://quotient-tx.com/" target="_blank" class="basic-link">Quotient TX</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Greenhouse, GSAP, Lottie</div>
        </div>
      </li>
      <li class="noisy-border contrast-color" style="--card-color: #c9b7fe;">
        <h3 class="text-h3 text-balance"><a href="https://lilacsolutions.com/" target="_blank" class="basic-link">Lilac Solutions</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Weglot, Hubspot, GSAP</div>
        <div class="prose-container"><strong>Highlights:</strong> <a href="https://share.mattsoria.com/Lilac_Scroll-Changing-Background-Color" target="_blank" class="basic-link">Background color change on scroll</a>, <a href="https://share.mattsoria.com/Lilac_CSS-Folder-Style-Shapes" target="_blank" class="basic-link">CSS 'folder' style shapes</a>, <a href="https://share.mattsoria.com/Lilac_Translation-Toggle-With-Weglot" target="_blank" class="basic-link">Translation toggle with Weglot integration</a></div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://www.spheresemi.com/" target="_blank" class="basic-link">Sphere Semi</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> HTML/CSS/JavaScript :sparkles:, Spline, </div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://lubeznikcenter.org/" target="_blank" class="basic-link">Lubeznik Center for the Arts</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, GSAP, Swup</div>
        <div class="prose-container"><strong>Highlights:</strong> <a href="https://share.mattsoria.com/Lubeznik_Fun-Hover-Squiggles" target="_blank" class="basic-link">Fun hover squiggles</a>, <a href="https://share.mattsoria.com/Lubeznik_Page-Transitions" target="_blank" class="basic-link">Page transitions</a>, <a href="https://share.mattsoria.com/Lubeznik_Varialbe-Logo" target="_blank" class="basic-link">Variable Logo</a>, <a href="https://share.mattsoria.com/Lubeznik_Lost-Lubuddy" target="_blank" class="basic-link">Lost Lubuddy</a>, <a href="https://share.mattsoria.com/Lubeznik_Changing-Selection-Highlight" target="_blank" class="basic-link">Changing selection highlight</a></div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://designingabetterchicago.org/" target="_blank" class="basic-link">Designing a Better Chicago</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS</div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://mam.org/" target="_blank" class="basic-link">Museum of Architecture and Design</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://www.onedesigncompany.com/" target="_blank" class="basic-link">One Design Company</a></div>
        <div><strong>Role: </strong> Developer, Project Lead</div>
        <div><strong>Tech:</strong> Eleventy, GSAP</div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://scaaic.org/" target="_blank" class="basic-link">Society for Contemporary Art</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Craft Commerce, Stripe, Sprig, p5.js</div>
        <div class="prose-container"><strong>Highlights:</strong> <a href="https://share.mattsoria.com/SCA_p5-Interactive-Lines" target="_blank" class="basic-link">p5 interactive lines</a>, <a href="https://scaaic.org/membership/join?plan=fd359de9-19f7-4aa6-b824-d3f6b3feafc3" target="_blank" class="basic-link">Multi-step membership form integrated with Stripe subscriptions + user accounts</a></div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://www.peopleforcommunityrecovery.org/" target="_blank" class="basic-link">People for Community Recovery</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS</div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://www.buildersinitiative.org/" target="_blank" class="basic-link">Builders Initiative</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Multisite, Sprig</div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://www.buildersvision.com/" target="_blank" class="basic-link">Builders Vision</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Multisite, Sprig</div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://www.buildersassetmanagement.com/" target="_blank" class="basic-link">Builders Asset Management</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong> Craft CMS, Multisite, Sprig</div>
        </div>
      </li>
      <li class="noisy-border contrast-color">
        <h3 class="text-h3 text-balance"><a href="https://2020.firebelly.co/" target="_blank" class="basic-link">Firebelly 2020</a></h3>
        <div class="text-balance">
        <div><strong>Agencey:</strong> <a href="https://firebellydesign.com/" target="_blank" class="basic-link">Firebelly Design</a></div>
        <div><strong>Role:</strong> Lead Developer</div>
        <div><strong>Tech:</strong>HTML/CSS/JavaScript :sparkles:</div>
        </div>
      </li>
    </ul>
  </section>
</Layout>

<style scoped>
  h2 {
    margin-block-end: var(--spacing-s);
    padding-inline-start: var(--spacing-xs);
  }

  ul {
    display: grid;
    align-items: center;
    gap: var(--spacing-xl);
  }

  li {
    --contrast-color: var(--card-color, var(--color-highlight));
    display: grid;
    position: relative;
    align-items: baseline;
    grid-template-columns: 1fr;
    min-height: var(--spacing-4xl);
    gap: var(--spacing-2xs) var(--spacing-l);
    padding: var(--spacing-l) var(--spacing-xs);
    &::after {
      content: '';
      position: absolute;
      border-radius: 2em;
      pointer-events: none;
      corner-shape: squircle;
      inset: 0 calc(var(--spacing-xs) * -1);
      background-color: var(--card-color, var(--color-highlight));
    }

    &.noisy-border {
      --noisy-border-inset: calc(var(--spacing-xs) * -0.5) calc(var(--spacing-xs) * -1.5);

      &::before {
        --noisy-border-color: var(--card-color);
      }
    }

    a {
      --basic-link-primary: var(--color-light);
      --basic-link-secondary: oklch(var(--color-parts-light) / 20%);
    }

    > * {
      z-index: 1;
      position: relative;
    }

    > div {
      display: grid;
      align-content: start;
      gap: var(--spacing-3xs);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: 2fr 3fr;
    }
  }
</style>