---
import SunIcon from '../assets/sun.svg';
import MoonIcon from '../assets/moon.svg';
---

<div id="mode-switcher">
  <button aria-label="Switch to dark mode." onclick="switchDark()" id="mode-dark">
    <MoonIcon />
  </button>

  <button aria-label="Switch to light mode." onclick="switchLight()" id="mode-light">
    <SunIcon />
  </button>
</div>

<script is:inline>
function switchLight() {
	document.documentElement.dataset.colorMode = "light";
	localStorage.setItem("color-mode", "light");
}

function switchDark() {
	document.documentElement.dataset.colorMode = "dark";
	localStorage.setItem("color-mode", "dark");
}
// Doing the actual check on page load in the head in Layout.astro for fastest reaction time
</script>

<style scoped>
  #mode-switcher {
    margin: 0;
    padding: 0;
    display: inline-flex;
    color: var(--color-text);
    column-gap: var(--spacing-2xs);
  }

  button {
    all: unset;

    &:hover, &:focus-visible {
      svg {
        opacity: 1;
        filter: url("#distortionFilter");
      }
    }
  }

  svg {
    opacity: 0.8;
    display: block;
    cursor: pointer;
    transition: color 0.25s ease-out, opacity 0.25s ease-out;
  }

  #mode-light {
    display: none;
  }
  html[data-color-mode="dark"] {
    #mode-dark {
      display: none;
    }
    #mode-light {
      display: block;
    }
  }
</style>