---
import SunIcon from '../assets/sun.svg';
import MoonIcon from '../assets/moon.svg';
---

<fieldset id="theme-switcher">
  <legend>Theme</legend>

  <label for="theme-dark">
    <input type="radio" name="color-theme" value="dark" onchange="switchDark()" id="theme-dark">
    <MoonIcon />
  </label>

  <label for="theme-light">
    <input type="radio" name="color-theme" value="light" onchange="switchLight()" id="theme-light">
    <SunIcon />
  </label>
</fieldset>

<script is:inline>
function switchLight() {
	document.documentElement.dataset.colorScheme = "light";
	localStorage.setItem("mode", "light");
	document.getElementById("theme-light").checked = true;
}

function switchDark() {
	document.documentElement.dataset.colorScheme = "dark";
	localStorage.setItem("mode", "dark");
	document.getElementById("theme-dark").checked = true;
}

function switchAuto() {
	delete document.documentElement.dataset.colorScheme;
	localStorage.removeItem("mode");
	document.getElementById("theme-system").checked = true;
}
document.addEventListener('DOMContentLoaded', function(){
	document.getElementById("theme-switcher").classList.add("visible"); // show theme switcher when JS loads

	const mode = localStorage.getItem("mode");

	if (mode === "light") switchLight();
	if (mode === "dark") switchDark();
});

</script>

<style scoped>
  #theme-switcher {
    margin: 0;
    padding: 0;
    border: none;
    display: none;
    color: var(--color-text);
    column-gap: var(--spacing-2xs);
  }

  #theme-switcher legend {
    position: absolute;
    left: -100vw;
  }
  #theme-switcher label {
    position: relative;
  }
  input[name="color-theme"] {
    height:1em;
    width:1em;
    position: absolute;
    left:-0.05em;
    top:0.2em;
    opacity: 0;
  }
  #theme-switcher label {
    translate: 0 calc(0.5ex – 0.5cap);
  }
  #theme-switcher label svg {
    opacity: 0.4;
    transition-property: color, opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    cursor: pointer;
  }
  #theme-switcher label:hover svg,
  #theme-switcher input[name="color-theme"]:focus + svg  {
    opacity: 1;
  }
  #theme-switcher input[name="color-theme"]:checked + svg {
    opacity: 0.8;
    cursor: auto;
  }
  @supports(color:light-dark(#fff,#000)) {
    #theme-switcher.visible {
      display: inline-flex;
    }
  }
</style>