<fieldset id="theme-switcher">
  <legend>Theme</legend>

  <label for="theme-dark">
    <input type="radio" name="color-theme" value="dark" onchange="switchDark()" id="theme-dark">
    <svg id="icon-moon" width="1em" height="1em" viewBox="0 0 16 16" fill="none" role="img">
      <title>Dark theme</title>
      <path d="M2 7.63261C2 11.1492 4.77936 14 8.20787 14C10.8473 14 13.1019 12.3105 14 9.92836C13.2887 10.271 12.4945 10.4626 11.6567 10.4626C8.60912 10.4626 6.13858 7.92853 6.13858 4.80265C6.13858 3.49533 6.5707 2.29154 7.29643 1.33334C4.30002 1.78554 2 4.43357 2 7.63261Z" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </label>

  <label for="theme-light">
    <input type="radio" name="color-theme" value="light" onchange="switchLight()" id="theme-light">
    <svg id="icon-sun" width="1em" height="1em" viewBox="0 0 16 16" fill="none" role="img">
      <title>Light theme</title>
      <path d="M7.99968 13.3333L7.99967 14.6667M7.99968 1.33334L7.99968 2.66668M13.333 8.00001H14.6663M1.33301 8.00001H2.66634M11.9997 11.9997L12.9997 12.9997M2.99967 2.99967L3.99969 3.9997M11.9997 4.00001L12.9997 3.00001M2.99967 13L3.99967 12M11.333 8.00001C11.333 9.84096 9.84062 11.3333 7.99967 11.3333C6.15872 11.3333 4.66634 9.84096 4.66634 8.00001C4.66634 6.15906 6.15872 4.66668 7.99967 4.66668C9.84062 4.66668 11.333 6.15906 11.333 8.00001Z" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </label>
</fieldset>

<script is:inline>
function switchLight() {
	document.documentElement.dataset.colorScheme = "light";
	localStorage.setItem("mode", "light");
	document.getElementById("theme-light").checked = true;
}

function switchDark() {
	document.documentElement.dataset.colorScheme = "dark";
	localStorage.setItem("mode", "dark");
	document.getElementById("theme-dark").checked = true;
}

function switchAuto() {
	delete document.documentElement.dataset.colorScheme;
	localStorage.removeItem("mode");
	document.getElementById("theme-system").checked = true;
}
document.addEventListener('DOMContentLoaded', function(){
	document.getElementById("theme-switcher").classList.add("visible"); // show theme switcher when JS loads

	const mode = localStorage.getItem("mode");

	if (mode === "light") switchLight();
	if (mode === "dark") switchDark();
});

</script>

<style scoped>
  #theme-switcher {
    margin: 0;
    padding: 0;
    border: none;
    display: none;
    color: var(--color-text);
    column-gap: var(--spacing-2xs);
  }

  #theme-switcher legend {
    position: absolute;
    left: -100vw;
  }
  #theme-switcher label {
    position: relative;
  }
  input[name="color-theme"] {
    height:1em;
    width:1em;
    position: absolute;
    left:-0.05em;
    top:0.2em;
    opacity: 0;
  }
  #theme-switcher label {
    translate: 0 calc(0.5ex – 0.5cap);
  }
  #theme-switcher label svg {
    opacity: 0.4;
    transition-property: color, opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    cursor: pointer;
  }
  #theme-switcher label:hover svg,
  #theme-switcher input[name="color-theme"]:focus + svg  {
    opacity: 1;
  }
  #theme-switcher input[name="color-theme"]:checked + svg {
    opacity: 0.8;
    cursor: auto;
  }
  @supports(color:light-dark(#fff,#000)) {
    #theme-switcher.visible {
      display: inline-flex;
    }
  }
</style>