---
const { type } = Astro.props;
let icon = '';

if (type === 'reading') {
  icon = '📖';
} else if (type === 'listening') {
  icon = '🎧';
} else if (type === 'watching') {
  icon = '📼';
}
---

<a href={`/links/type/${type}`} class="pill">
  <div set:html={icon} aria-hidden="true"></div>
  <div set:html={type} class="visually-hidden"></div>
</a>

<style scoped>
  a div {
    font-size: 1em;
    text-box-trim: trim-both;
    margin-block-end: -0.2em;
  }
</style>