---
const pathname = Astro.url.pathname;
import { getEntries } from '../utils/craftApi';
import { NAVIGATION_QUERY } from '../utils/queries';
import ColorModeToggle from '../components/ColorModeToggle.astro';

const nav = await getEntries(NAVIGATION_QUERY);
console.log(pathname);
---

<header class="site-header">
  <div class="site-header-content">
    <a href="/" class="site-title">matt soria</a>
    <div class="site-nav-container">
      <nav class="site-nav">
        <ul role="list">
          {nav.map((item) => (
            <li><a href={ '/' + item.entryRef[0].slug} aria-current={pathname.replace('/', '') === item.entryRef[0].slug ? 'page' : null } class="basic-link">{item.entryRef[0].title}</a></li>
          ))}
        </ul>
      </nav>
      <div class="color-mode-toggle-container">
        <ColorModeToggle />
      </div>
    </div>
  </div>
</header>

<style scoped>
  .site-header {
    view-transition-name: header;
    padding-inline: var(--site-gutter);
    padding-block: var(--spacing-xs) var(--spacing-3xl);
  }
  
  .site-header-content {
    display: flex;
    align-items: end;
    gap: var(--spacing-xs);
    justify-content: space-between;
  }

  .site-title {
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--step-3);
    font-family: var(--font-display);
  }

  .site-nav-container {
    display: flex;
    gap: var(--spacing-s);
  }

  .site-nav {
    margin-block-end: 0;

    a {
      font-weight: 400;
      text-transform: lowercase;
    }

    a[aria-current="page"] {
      text-decoration: none;
    }

    ul {
      display: flex;
      column-gap: var(--spacing-xs);
    }
  }

  .color-mode-toggle-container {
    width: max-content;
  }
</style>