---
const pathname = Astro.url.pathname;
import Smiley from '../assets/smiley.svg';
import { getEntries } from '../utils/craftApi';
import { NAVIGATION_QUERY } from '../utils/queries';
import ColorModeToggle from '../components/ColorModeToggle.astro';

const nav = await getEntries(NAVIGATION_QUERY);
---

<header class="site-header">
  <a href="#site-content" class="skip-link">Skip to content</a>
  <div class="site-header-content">
    <a href="/" id="site-title" class="site-title"><span id="title-smiley">
      <Smiley />
    </span> matt soria</a>
    <div class="site-nav-container">
      <nav class="site-nav">
        <ul role="list">
          {nav.map((item) => (
            <li><a href={ '/' + item.entryRef[0].slug} aria-current={pathname.replace('/', '') === item.entryRef[0].slug ? 'page' : null } class="basic-link">{item.entryRef[0].title}</a></li>
          ))}
        </ul>
      </nav>
      <div class="color-mode-toggle-container">
        <ColorModeToggle />
      </div>
    </div>
  </div>

  <div class="sfx-container">
    <audio id="header-smiley-hover-sfx" src="/sfx/wheeeeee.m4a" preload="auto"></audio>
    <audio id="title-click-sfx" src="/sfx/ooh.m4a" preload="auto"></audio>
    <audio id="footer-smiley-hover-sfx" src="/sfx/hello.m4a" preload="auto"></audio>
  </div>
</header>

<script>
  const sfxContainer = document.querySelector('.sfx-container');
  const headerSmileyHoverSfx = sfxContainer.querySelector('#header-smiley-hover-sfx');
  const titleClickSfx = sfxContainer?.querySelector('#title-click-sfx');
  const titleSmiley = document.getElementById('title-smiley');
  const title = document.getElementById('site-title');
  title?.addEventListener('mousedown', () => {
    titleClickSfx?.play();
  });
  titleSmiley?.addEventListener('mouseenter', () => {
    headerSmileyHoverSfx?.play();
  });
</script>

<style scoped>
  .site-header {
    view-transition-name: header;
    padding-inline: var(--site-gutter);
    padding-block: var(--spacing-xs) var(--spacing-2xl);
  }
  
  .site-header-content {
    display: flex;
    align-items: end;
    gap: var(--spacing-xs);
    justify-content: space-between;
  }

  .site-title {
    line-height: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    gap: var(--spacing-2xs);
    color: var(--color-text);
    font-size: var(--step-3);
    font-family: var(--font-display);
    transition: letter-spacing 0.35s ease-out;

    svg {
      height: 1em;
      width: auto;
      display: block;
    }

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-underline-offset: 0.1em;
      text-decoration-thickness: 0.1rem;
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      &:hover,
      &:focus-visible {
        text-decoration: none;
        filter: url("#distortionFilter");
        transform: translate(-0.05%, -0.05%);
      }
    }

    &:active svg {
      transform: scale(0.95);
    }
  }

  #title-smiley {
    &:hover {
      svg {
        animation: spin 0.35s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .site-nav-container {
    display: flex;
    gap: var(--spacing-s);
  }

  .site-nav {
    margin-block-end: 0;

    a {
      text-transform: lowercase;
      font-weight: var(--font-weight-light);
    }

    a:hover,
    a:focus-visible,
    a[aria-current="page"] {
      text-decoration: none;
      font-weight: var(--font-weight-regular);
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--spacing-xs);
    }
  }

  .color-mode-toggle-container {
    width: max-content;
  }
</style>