---
import ExternalType from '../components/ExternalType.astro';

const { post, first } = Astro.props;
const dateObject = new Date(post.postDate);
const formattedDate = dateObject.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<article class={first ? '-first' : ''}>
  <h2 class="text-h4"><a href={ post.externalLink } class="article-link">{post.title}</a></h2>
  {post.sourceAuthor && (
    <div class="text-meta">By { post.sourceAuthor }</div>
  )}
  <div class="article-meta">
    <time datetime={ formattedDate } class="text-label">{ formattedDate }</time>
     {post.externalType && (
        <ExternalType type={post.externalType} />
     )}
    {post.category.length > 0 && (
      <a href={ 'journal/category/' + post.category[0].slug } class="pill">{post.category[0].title}</a>
    )}
  </div>
</article>

<style scoped>
  article {
    .text-meta {
      margin-block-start: var(--space-xs);
    }
  }
</style>