---
const { post } = Astro.props;
const dateObject = new Date(post.postDate);
const formattedDate = dateObject.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});
---

<article>
  <time datetime={ formattedDate } class="text-label">{ formattedDate }</time>
  <h2><a href={ post.externalLink }>{post.title}</a></h2>
  {post.category && (
    <a href={ 'journal/category' + post.category.slug }>{post.category.title}</a>
  )}
</article>

<style scoped>
  article {
    padding-block: var(--space-m);
    border-top: var(--color-gray) 1px solid;

    h2 {
      margin-block-start: var(--space-xs);
    }
  }
</style>