---
const { post } = Astro.props;
const dateObject = new Date(post.postDate);
const formattedDate = dateObject.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});
---

<article>
  <div>
    <time datetime={ formattedDate } class="text-label">{ formattedDate }</time>
    {post.category.length > 0 && (
      <a href={ 'journal/category' + post.category[0].slug }>{post.category[0].title}</a>
    )}
  </div>
  <h2><a href={ 'journal/' + post.slug}>{post.title}</a></h2>
</article>

<style scoped>
  article {
    padding-block: var(--space-2xs);
    border-top: var(--color-gray) 1px solid;

    h2 {
      font-size: var(--step-1);
      margin-block-start: var(--space-xs);
    }
  }
</style>