:root {
  --color-text: hsl(48, 31%, 5%);
  --color-background: hsl(48, 31%, 94%);
}

body {
  color: var(--color-text);
  font-family: 'ISO', monospace;
  background-color: var(--color-background);
}

.text-headline {
  font-family: 'Degular Display', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.smiley-background {
  fill: var(--color-background);
}
.smiley-face {
  fill: var(--color-text);
}
