@import './reset.css';
@import './utilities.css';
@import './variables.css';
@import './typography';
@import './rich-text.css';

body {
  margin: 0;
  color: var(--color-text);
  font-family: var(--font-body);
  padding-inline: var(--space-l);
  background-color: var(--color-background);
  padding-block: var(--space-3xl) var(--space-l);
}

.site-header,
.site-content {
  padding-block-start: var(--space-l);
}

::selection {
  background-color: var(--color-gray);
}

.site-title {
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--step-3);
  font-family: var(--font-display);
}

.text-headline {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 2.5rem;
}

.smiley-background {
  fill: var(--color-background);
}
.smiley-face {
  fill: var(--color-text);
}

.container {
  max-width: 72ch;
  margin-inline: auto;
}

figure {
  overflow: hidden;
  border-radius: var(--border-radius);
}

ul,
ol {
  padding: 0.75em;
}

a {
  color: inherit;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1rem;
}

*:focus-visible {
  outline-offset: 0.3em;
}

.pill {
  line-height: 1;
  border-radius: 1rem;
  display: inline-block;
  text-decoration: none;
  text-box-trim: trim-end;
  color: var(--color-text);
  font-size: var(--step--2);
  background-color: var(--color-gray);
  padding: var(--space-3xs) var(--space-2xs);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;

  &:hover,
  &:focus-visible {
    color: var(--color-background);
    background-color: var(--color-highlight);
  }
}

/* Article Styles */
article {
  padding-block-start: var(--space-2xs);

  &:not(.-first) {
    border-top: var(--color-gray) 1px solid;
  }

  > * + * {
    margin-block-start: var(--space-3xs);
  }
}
.article-meta {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  * {
    line-height: 1;
  }
}
.article-link {
  background-color: transparent;
  text-decoration-color: transparent;

  &:hover,
  &:focus-visible {
    background-color: var(--color-gray);
    text-decoration-color: var(--color-highlight);
  }
}
