---
import Layout from '../layouts/Layout.astro';
import PostArticle from '../components/PostArticle.astro';
import LinkArticle from '../components/LinkArticle.astro';

const { title, posts, links } = Astro.props;
---

<Layout>
  <div class="px-site-gutter">
    <div class="post-column">
      <div class="title">
        <h1 class="visually-hidden" set:html={title}></h1>
        <h2 class="text-h1">Writing</h2>
      </div>

      <ol class="posts-list" role="list">
        { posts.map((post, index) =>
          <li>
            <PostArticle post={post} first={index === 0} />
          </li>
        )}
      </ol>
    </div>
  
    <aside class="links-column">
      <div class="title">
        <h2 class="text-h2">Reading / Listening / Watching</h2>
      </div>

      <ol class="links-list" role="list">
        { links.map((post, index) =>
          <li>
            <LinkArticle post={post} first={index === 0} />
          </li>
        )}
      </ol>
    </aside>
  </div>
</Layout>

<style scoped>
	.title {
    margin: 0;
    display: flex; 
    align-items: flex-end;
    padding-block-end: var(--spacing-l);
    border-bottom: 1px solid var(--color-border);
    h1, h2 {
      margin: 0;
      line-height: 1;
      text-box-trim: trim-both;
    }
  }

  .layout {
    display: grid;
    gap: var(--spacing-m);
    grid-template-areas: 
      "primary"
      "aside";

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 
        "primary primary primary aside aside";
    }
  }
  .post-column {
    grid-area: primary;
  }
  .links-column {
    grid-area: aside;

    @media screen and (min-width: 1024px) {
      overflow: auto;
      max-height: 100vh;
      scrollbar-gutter: stable;

      .title {
        position: sticky;
        inset-block-start: 0;
        background-color: var(--color-background);
      }
    }
  }

  .posts-list,
  .links-list {
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
  }
</style>