---
import "../assets/styles/global.css";
import Smiley from '../assets/smiley.svg';

interface Props {
	title: string;
	bodyClass: string;
}

const { title, bodyClass } = Astro.props;
const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Preloads -->
		<link rel="preload" href="/fonts/TAYWalkout.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/ISOv0.8-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/fonts/webfonts.css" media="print" onload="this.media='all'; this.onload=null;">

		<link rel="shortcut icon" type="image/ico" href="/favicon.png">

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Photographer and Web Developer from Chicago. Adventure, Lifestyle, Travel and Editorial Photography. Specializing in Front-end Development.">
		<meta property="og:title" content="Matt Soria | photography + web development">
		<meta property="og:url" content="https://www.mattsoria.com/">
	</head>
	<body class={bodyClass}>
		<header class="site-header">
			<a href="/" class="site-title">matt soria</a>
			<nav class="site-nav">
				<ul>
					<li><a href="/journal" aria-current={pathname === '/journal' ? 'page' : 'false' }>journal</a></li>
				</ul>
			</nav>
		</header>
		<main class="site-content">
			<slot />
		</main>
		<footer class="site-footer">
			<Smiley />
		</footer>
	</body>
</html>

<script>
	import "lazysizes";
</script>

<style scoped>
	.site-header {
		width: 100%;
		z-index: 100;
		display: flex;
		position: fixed;
		align-items: end;
		gap: var(--space-xs);
		inset-block-start: 0;
		inset-inline-start: 0;
		justify-content: space-between;
		padding-inline: var(--space-l);
		padding-block: var(--space-2xs);
		background-color: var(--color-background);
		border-bottom: 1px solid var(--color-text);
	}
	.site-nav {
		margin-block-end: 0;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		a[aria-current="page"] {
			font-weight: 700;
			text-decoration: none;
		}
	}

	.smiley {
		display: block;
		margin: 2rem auto;
		width: var(--space-xl);
	}
</style>
